.page-heading {
    justify-content: center;
    display: flex;
    font-size: 70px;
    margin-top: 40px;
    margin-bottom: 40px;
    transition: font-size 0.3s ease-in-out; /* Transition effect */
  }
  
.page-heading:hover {
    font-size: 90px; /* Increased font size on hover */
}

.headline {
  font-size: 25px;
  margin-left: 5%;
  margin-right: 5%;
}

.course-name {
  margin-top: 10px;
  font-size: 20px;
  // font-weight: bold;
  background-color: rgb(255, 255, 255)
  //transition: font-size 0.3s ease-in-out; /* Transition effect */
  
}

.course-name:hover{
  font-size: 30px;
}


.courses-container-1 {
    display: flex;
    justify-content: center;
    margin-left: 5%;
    width: 90%;
    
}

.courses-container-2 {
  display: flex;
  justify-content: center;
  margin-left: 5%;
  width: 90%;
  
}

.box-container {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
  }
  
.box-1 {
    width: 200px;
    height: 300px;
    border: 1px solid #ccc;
    margin: 10px;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 0 0 30px rgba(13, 13, 13, 0.0); /* Shadow effect */
    transition: transform 0.3s ease-in-out; /* Transition for hover effect */
}

.box-2 {
  width: 300px;
  height: 300px;
  border: 1px solid #ccc;
  // box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1)
  margin: 20px;
  padding: 10px;
  border-radius: 20px;
  box-shadow: 0 0 30px rgba(13, 13, 13, 0.0); /* Shadow effect */
  transition: transform 0.3s ease-in-out; /* Transition for hover effect */
}
  
.box-1:hover {
    transform: scale(1.05); /* Scale up the box slightly on hover */
    box-shadow: 0 0 30px #007BFF; /* Shadow effect */
}

.box-2:hover {
  transform: scale(1.05); /* Scale up the box slightly on hover */
  box-shadow: 0 0 30px #007BFF; /* Shadow effect */
}
  
.box-1 img {
    width: 100%;
    height: 60%;
}

.box-2 img{
  width: 100%;
  height: 60%;
}

.box p {
    margin-bottom: 10px;
}

// .coursename-apply{
//   // display: flex;
//   // gap: 30px;
//   // margin-right: 0px;
// }
// .ellipsis {
//   white-space: nowrap;        /* Prevents the text from wrapping */
//   overflow: hidden;           /* Hides the overflow text */
//   text-overflow: ellipsis;    /* Adds ellipses at the end */
//   width: 200px;               /* Set a fixed width for the element */
// }

  /* Styling for the button container */
.button-container {
    justify-content: center;
    display: flex;
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 0;
     /* Spacing between buttons */
}
  
  /* Styling for the buttons */
.button-container button {
    justify-content: center;
    display: flex;
    font-size: 30px;
    background-color: rgb(11, 11, 11); /* Green background color */
    color: white; /* White text color */
    padding: 20px 50px; /* Padding */
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 50px;
    margin-bottom: 30px;
    border-color: black; /* No border */
    cursor: pointer; /* Pointer cursor on hover */
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 0 30px rgba(6, 10, 230, 0.5); /* Shadow effect */
    // box-shadow: 0 0 30px rgba(184, 11, 237, 0.5);
    transition: transform 0.3s ease-in-out; /* Transition for hover effect */
    gap: 20px;
}
  
.button-container button:hover {
    transform: scale(1.05); /* Scale up the box slightly on hover */
}

  
.button-container-apply-contact button-contact-course button-apply-course {
  display: flex;
  background-color: rgb(157, 133, 222); /* Green background color */
  color: white; /* White text color */
  padding: 10px 20px; /* Padding */
  margin-bottom: 5px;
  border: none; /* No border */
  cursor: pointer; /* Pointer cursor on hover */
  border-radius: 20px; /* Rounded corners */
  gap: 5px;
}

.button-apply-course {
    justify-content: center;
    background-color:#007BFF; /* Green background color */
    // background-color: rgb(203, 12, 12);
    color: white; /* White text color */
    font-size: 15px;
    width: 100px;
    height: 40px;
    padding: 10px; /* Padding */
    padding-right: 10px;
    border: none; /* No border */
    cursor: pointer; /* Pointer cursor on hover */
    border-radius: 10px; /* Rounded corners */

}

.button-contact-course {
  background-color: rgb(73, 53, 160); /* Green background color */
  color: white; /* White text color */
  padding: 10px 10px; /* Padding */
  padding-left: 10px;
  border: none; /* No border */
  cursor: pointer; /* Pointer cursor on hover */
  border-radius: 20px; /* Rounded corners */
  margin-bottom: 10px;
}



.button-apply-course:hover {
  background-color: rgba(28, 2, 2, 0.878)
}

.button-contact-course:hover {
  background-color: rgba(30, 10, 181, 0.452);
}
  





