<router-outlet>
    <!-- <app-main-header></app-main-header>  -->
    <!-- <app-courses></app-courses>
    <app-footer></app-footer> -->

    <!-- <app-steam></app-steam> -->
    <!-- <app-chatbot></app-chatbot> -->
    <!-- <app-whatsapp></app-whatsapp>

    <!-- <app-steam></app-steam>
    <app-chatbot></app-chatbot> 
    <app-whatsapp></app-whatsapp>

    <app-footer></app-footer> -->

    <!-- <app-header></app-header> -->

    <!-- <app-courses></app-courses>
    <app-footer></app-footer> -->
    <!-- <app-steam></app-steam> -->
    <!-- <app-whatsapp></app-whatsapp> -->

<!-- <app-service-page></app-service-page> -->
<!-- <app-footer></app-footer> -->
<!-- <app-servive-page-detailed></app-servive-page-detailed>
<app-servive-page-overview></app-servive-page-overview> -->
</router-outlet>
