<app-main-header></app-main-header>
<br>
<div class="job-description">
  <div id="job-description-title">
    Job Discription
  </div>
  <div class="info-line">
    <span class="label">Company Profile:</span>
    <span>&nbsp; &nbsp;{{ jobDetails.companyProfile }}</span>
  </div>

  <div class="info-line">
    <span class="label">Position:</span>
    <p>{{ jobDetails.position }}</p>
  </div>

  <div class="info-line">
    <span class="label">Current Opening:</span>
    <p>{{ jobDetails.currentOpening }}</p>
  </div>

  <div class="info-line">
    <span class="label">Experience Level:</span>
    <p>{{ jobDetails.experienceLevel }}</p>
  </div>

  <div class="info-line">
    <span class="label">Primary Skill:</span>
    <br>
    <ul>
      <li *ngFor="let skill of jobDetails.primarySkill">{{ skill }}</li>
    </ul>
  </div>

  <div class="info-line">
    <span class="label">Job Location:</span>
    <p>{{ jobDetails.jobLocation }}</p>
  </div>

  <div class="info-line">
    <span class="label">Work Days:</span>
    <p>{{ jobDetails.workDays }}</p>
  </div>

  <div class="info-line">
    <span class="label">Work Timings:</span>
    <p>{{ jobDetails.workTimings }}</p>
  </div>

  <div class="info-line">
    <span class="label">Salary:</span>
    <p>{{ jobDetails.salary }}</p>
  </div>

  <div class="info-line">
    <span class="label">Educational Qualifications:</span>
    <ul>
      <li *ngFor="let qualification of jobDetails.educationalQualifications">{{ qualification }}</li>
    </ul>
  </div>

  <div class="info-line">
    <span class="label">Role Overview:</span>
    <p>{{ jobDetails.roleOverview }}</p>
  </div>

  <div class="info-line">
    <span class="label">Required Role Attributes:</span>
    <br>
    <ul>
      <li *ngFor="let attribute of jobDetails.requiredRoleAttributes">{{ attribute }}</li>
    </ul>
  </div>

  <div class="info-line">
    <span class="label">Required Skills:</span>
    <br>
    <ul>
      <li *ngFor="let skill of jobDetails.requiredSkills">{{ skill }}</li>
    </ul>
  </div>

  <div class="info-line">
    <span class="label">Additional Skills:</span>
    <br>
    <ul>
      <li *ngFor="let skill of jobDetails.additionalSkills">{{ skill }}</li>
    </ul>
  </div>

  <div class="info-line">
    <span class="label">Career Path:</span>
    <p>{{ jobDetails.careerPath }}</p>
  </div>

  <div id="apply-now">
    <button id="apply-now-btn" [routerLink]="'/application-form'">Apply Now</button>
  </div>
</div>
<app-footer></app-footer>
