.main_div{
    margin-left: 5%;
    margin-right: 5%;
}

h1{
    font-size: 70px;
    text-align: center;
    font-family: roboslab;
}

.card{
    width: 40%;
    min-width: 400px;
    margin-top: 50px;
    
}

.card:hover{
    transform: scale(1.1);
    box-shadow: 5px 5px 5px 5px gray;
    font-size: 1.1rem;
}