<app-main-header></app-main-header>
<div class="main_div">
    <br>
    <h1>Explore Our Services</h1>
    <br>
    <br>

    <div style="display: flex; flex-wrap: wrap; justify-content: space-around;">
        <div class="card">
            <div class="card-header" id="onlineservices">
                Online Courses
            </div>
            <div class="card-body">
              <h5 class="card-title">Launch Anytime, Learn at Your Pace</h5>
              <p class="card-text">Explore a vast library of online courses in various subjects. Learn with video lectures, quizzes, and downloadable materials.</p>
              <a href="#" class="btn btn-primary">Explore...</a>
            </div>
        </div>

        <div class="card">
            <div class="card-header" id="tutorialservice">
                Tutoring Services
            </div>
            <div class="card-body">
              <h5 class="card-title">Get Personalized Support</h5>
              <p class="card-text">Connect with expert tutors for one-on-one or small group tutoring. Get help mastering specific topics and achieve your learning goals.</p>
              <a href="#" class="btn btn-primary">Explore...</a>
            </div>
        </div>

        <div class="card">
            <div class="card-header" id="testprepration">
                Test Preparation Programs
            </div>
            <div class="card-body">
              <h5 class="card-title"> Ace Your Exams with Confidence</h5>
              <p class="card-text">Our targeted test prep programs offer study materials, practice tests, and personalized feedback to help you excel in standardized tests and professional certifications.</p>
              <a href="#" class="btn btn-primary">Explore...</a>
            </div>
        </div>

        <div class="card">
            <div class="card-header" id="educationservice">
                Educational Resources
            </div>
            <div class="card-body">
              <h5 class="card-title">Empower Yourself with Knowledge</h5>
              <p class="card-text">Access a wealth of free and premium educational resources, including articles, infographics, and downloadable guides. Explore diverse topics to supplement your learning.</p>
              <a href="#" class="btn btn-primary">Explore...</a>
            </div>
        </div>

        <div class="card">
            <div class="card-header" id="liveclasses">
                Live Classes and Webinars
            </div>
            <div class="card-body">
              <h5 class="card-title">Interactive Learning in Real-Time</h5>
              <p class="card-text">Engage with instructors and classmates in live online classes and webinars. Recordings available for missed sessions.</p>
              <a href="#" class="btn btn-primary">Explore...</a>
            </div>
        </div>

        <div class="card">
            <div class="card-header" id="projectkitandsupp">
                Project kits and Supplies
            </div>
            <div class="card-body">
              <h5 class="card-title">Get Everything You Need to Start Learning</h5>
              <p class="card-text">Conveniently purchase pre-assembled project kits and all the necessary supplies related to your chosen courses or projects.</p>
              <a href="#" class="btn btn-primary">Explore...</a>
            </div>
        </div>

        <div class="card">
            <div class="card-header" id="summercamps">
                Summer Camps and Workshops
            </div>
            <div class="card-body">
              <h5 class="card-title">Fun and Engaging Learning Experiences</h5>
              <p class="card-text">Immerse yourself in summer camps and workshops designed for specific age groups. Explore new topics, participate in hands-on activities, and learn from industry experts.</p>
              <a href="#" class="btn btn-primary">Explore...</a>
            </div>
        </div>

        <div class="card">
            <div class="card-header" id="diversityandinclusion">
                Diversity and Inclusion Initiatives
            </div>
            <div class="card-body">
              <h5 class="card-title">Fostering a Welcoming Learning Environment</h5>
              <p class="card-text">We are committed to creating a diverse and inclusive learning space that caters to all learners. Access resources and features that support different learning styles.</p>
              <a href="#" class="btn btn-primary">Explore...</a>
            </div>
        </div>

        <div class="card">
            <div class="card-header" id="customizedlearning">
                Customized Learning Plans
            </div>
            <div class="card-body">
              <h5 class="card-title">Special title treatment</h5>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
              <a href="#" class="btn btn-primary">Explore...</a>
            </div>
        </div>

        <div class="card">
            <div class="card-header" id="learningmanagment">
                Learning Management System (LMS)
            </div>
            <div class="card-body">
              <h5 class="card-title">Chart Your Unique Learning Journey</h5>
              <p class="card-text"> Develop a personalized learning path based on your goals and needs. Receive expert guidance and recommendations to optimize your learning experience.</p>
              <a href="#" class="btn btn-primary">Explore...</a>
            </div>
        </div>

        <div class="card">
            <div class="card-header" id="studentsupport">
                Student Support Services
            </div>
            <div class="card-body">
              <h5 class="card-title">We're Here to Help You Succeed</h5>
              <p class="card-text">Our dedicated support team is always available to answer your questions via email, chat, or phone. Get the assistance you need to navigate your learning journey.</p>
              <a href="#" class="btn btn-primary">Explore...</a>
            </div>
        </div>

        <div class="card">
            <div class="card-header" id="processtracking">
                Progress Tracking Reporting
            </div>
            <div class="card-body">
              <h5 class="card-title">Monitor Your Progress and Stay Motivated</h5>
              <p class="card-text">Track your progress within courses or programs with detailed reports. Analyze your performance and set achievable learning goals.</p>
              <a href="#" class="btn btn-primary">Explore...</a>
            </div>
        </div>

        <div class="card">
            <div class="card-header" id="communityengagement">
                Community Engagement
            </div>
            <div class="card-body">
              <h5 class="card-title">Connect, Collaborate, and Learn Together</h5>
              <p class="card-text">Participate in our vibrant online community forums and discussions. Connect with fellow learners, share experiences, and build lasting connections.</p>
              <a href="#" class="btn btn-primary">Explore...</a>
            </div>
        </div>

        <div class="card">
            <div class="card-header" id="corporatetraining">
                Corporate Training and Professional Development
            </div>
            <div class="card-body">
              <h5 class="card-title">Upskill Your Workforce and Drive Success</h5>
              <p class="card-text">Empower your employees with customized training programs and workshops. We offer a range of solutions to enhance soft skills and industry-specific knowledge.</p>
              <a href="#" class="btn btn-primary">Explore...</a>
            </div>
        </div>

        <div class="card">
            <div class="card-header" id="successstories">
                Success Stories and Testimonials
            </div>
            <div class="card-body">
              <h5 class="card-title">See How Others Have Achieved Success</h5>
              <p class="card-text">Get inspired by real stories and testimonials from satisfied students. Discover how our programs helped them achieve their learning goals.</p>
              <a href="#" class="btn btn-primary">Explore...</a>
            </div>
        </div>

        <div class="card">
            <div class="card-header" id="Partnershipsandacc">
                Partnerships and Accrediation
            </div>
            <div class="card-body">
              <h5 class="card-title">Recognized for Excellence in Education</h5>
              <p class="card-text">We collaborate with leading institutions and hold esteemed accreditations, ensuring the quality and credibility of our educational programs.</p>
              <a href="#" class="btn btn-primary">Explore...</a>
            </div>
        </div>

        <div class="card">
            <div class="card-header" id="faqs">
                FAQs and Support Documentation
            </div>
            <div class="card-body">
              <h5 class="card-title">Find Answers to Your Questions Easily</h5>
              <p class="card-text">Explore our comprehensive FAQ section and access downloadable resources for various topics. Get the information you need to navigate our platform with ease.</p>
              <a href="#" class="btn btn-primary">Explore...</a>
            </div>
        </div>
    </div>
    <br><br>
</div>

<app-footer></app-footer>