

<!-- <header>
    <nav>
        <div class="box-header">
            <div class="navbar">
                <img src="../../assets/img/logo.jpeg" alt="" width="200" style="margin-left: 20px; margin-top: 20px;">
                <div class="nav-links">
                    <!-- <a routerLink="/">Home</a>
                    <a routerLink="/service">Services</a>
                    <a routerLink="/project">Projects</a>
                    <a routerLink="/scholarship">Scholarship</a>
                    <a routerLink="/summercamp">SummerCamp</a>
                    <a routerLink="/courses">Courses</a>
                    <a routerLink="/about">About</a>
                    <a [routerLink]="'/form'">Contact</a> 
                <a [routerLink]="'/'">Home</a>
                <a (click)="scrollToSection('services')" >Services</a>
                <a [routerLink]="'/project'">Project</a>
                <a [routerLink]="'/scholarship'">Scholarship</a>
                <a (click)="scrollToSection('steam')">Steam</a>
                <a (click)="scrollToSection('courses')" >Courses</a>
                <a [routerLink]="'/aboutus'">About</a>
                <a [routerLink]="'/contact'">Contact Us</a>
                </div>
            </div>
        </div>
    </nav>
</header> -->


<header class="fixed-navbar">
    <nav>
        <div class="box-header">
            <div class="navbar">
                <img src="../../assets/img/logo.jpeg" alt=""  width="200" style="margin-left: 20px; margin-top: 5px;">
                <div class="nav-links">
                <a [routerLink]="'/'">Home</a>
                <a (click)="scrollToSection('services')" >Services</a>
                <a [routerLink]="'/project'">Project</a>
                <a [routerLink]="'/scholarship'">Scholarship</a>
                <a (click)="scrollToSection('steam')">Steam</a>
                <a (click)="scrollToSection('courses')" >Courses</a>
                <a [routerLink]="'/aboutus'">About</a>
                <a [routerLink]="'/contact'">Contact Us</a>
                    
                </div>
            </div>
        </div>
    </nav>
</header>
