
.carousel {
  position: relative;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  background-color: black;
  height: 500px;
}

.images-wrapper {
  display: flex;
  overflow: hidden;
  margin-left: 70px;
  margin-top: 45px;

}

.image-wrapper {
  
  transition: transform 0.3s ease-in-out;
  margin-right: 12px;
}

.image-wrapper img {
  width: 230px;
    height: 300px;
    border: 1px solid black;
    border-radius: 10px;
    margin-top: 50px;
    transition: transform 0.3s ease-in-out;
}
.image-wrapper img:hover{
  transform: scale(1.05);
}
.image-wrapper:last-child {
  margin-right: 0; 
}

.btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: #007BFF;
  border: none;
  cursor: pointer;
  outline: none;
  color: white;
  margin-right: 10px;
}
svg {
  width: 24px;
  height: 24px;
  fill: white; 
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}
