<app-main-header></app-main-header>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <br>
    <div class="container">
        <div id="title">
            About Us
        </div>


        <div class="container-sub1">
            <div id="support-message">
                <p>We're here to support<br> those who learn. <br><br><br><br>
                    Make A Brighter Future <br>For Your Child.</p>
            </div>
            <div id="education-img">
                <img src="../../assets/image/Special-Education-Courses.jpg" alt="">
            </div>
        </div>
        <div class="container-sub2">
            <br>
            <!-- <p>&nbsp;&nbsp; &nbsp; At VS Tech Horizon, we empower learners worldwide by offering cutting-edge technology courses and immersive hands-on experiences. Through dynamic workshops and comprehensive support services, we equip individuals with essential skills for the future. Our unwavering commitment to innovation and education drives us to shape a brighter tomorrow for aspiring technologists.</p>
            <p>At VS Tech Horizon, guided by visionary Director Mr. Rushikesh Sule, our commitment to excellence and innovation fuels our cutting-edge technology solutions and fosters a collaborative, inclusive environment. We nurture talent, encourage creativity, and embrace diversity, shaping the future of technology education.</p> -->
            <!-- <p> At VS Tech Horizon, we empower learners worldwide by offering cutting-edge technology courses and immersive hands-on experiences. Through dynamic workshops and comprehensive support services, we equip individuals with essential skills for the future. Our unwavering commitment to innovation and education drives us to shape a brighter tomorrow for aspiring technologists. Guided by visionary Director Mr. Rushikesh Sule, our commitment to excellence and innovation fuels our cutting-edge technology solutions and fosters a collaborative, inclusive environment. We nurture talent, encourage creativity, and embrace diversity, shaping the future of technology education.</p> -->
                <p>VS Tech Horizon offers cutting-edge technology courses and hands-on experiences worldwide, guided by Director Mr. Rushikesh Sule. Committed to innovation and education, they shape a brighter tomorrow for aspiring technologists through dynamic workshops and comprehensive support services. They nurture talent, encourage creativity, and embrace diversity, shaping the future of technology education.</p>
        </div>
       
    </div>
    

    <app-footer></app-footer>
</body>
</html>
